/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html
{
    scroll-behavior:smooth;
}

body
{
    font-family:"Segoe UI",Arial,sans-serif;
    background:
    radial-gradient(circle at top, rgba(236,72,153,0.15), transparent 40%),
    #0f172a;
    color:white;
    line-height:1.6;
}

header
{
    background:#020617;
    position:sticky;
    top:0;
    z-index:100;
    backdrop-filter:blur(10px);
}

nav
{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
}

nav h2
{
    color:#ec4899;
    font-weight:700;
    letter-spacing:1px;
}

nav ul
{
    list-style:none;
    display:flex;
    gap:25px;
}

nav a
{
    text-decoration:none;
    color:white;
    font-weight:500;
    position:relative;
}

nav a::after
{
    content:"";
    width:0;
    height:2px;
    background:#ec4899;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:.3s;
}

nav a:hover::after
{
    width:100%;
}

#hero
{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:40px;
}

.hero-container
{
    max-width:900px;
}

#hero h1
{
    font-size:80px;
    font-weight:700;
    margin-bottom:10px;
    background:linear-gradient(90deg,#ec4899,#ffffff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    animation:slideDown 1s ease;
}

#hero h2
{
    font-size:32px;
    color:#ec4899;
    margin-bottom:20px;
}

#hero p
{
    font-size:20px;
    color:#cbd5f5;
    max-width:700px;
    margin:0 auto 40px auto;
}

.hero-buttons
{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.btn-primary, .btn-outline
{
    padding:14px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-primary
{
    background:#ec4899;
    color:white;
}

.btn-primary:hover
{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(236,72,153,0.4);
}

.btn-outline
{
    border:2px solid #ec4899;
    color:#ec4899;
}

.btn-outline:hover
{
    background:#ec4899;
    color:white;
}

.contact-icons
{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.contact-icons a
{
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1e293b;
    border-radius:12px;
    font-size:24px;
    color:white;
    transition:.3s;
}

.contact-icons a:hover
{
    background:#ec4899;
    transform:translateY(-5px);
}

section
{
    max-width:1100px;
    margin:auto;
    padding:90px 20px;
}

section h2
{
    text-align:center;
    margin-bottom:60px;
    font-size:36px;
    font-weight:700;
    position:relative;
}

section h2::after
{
    content:"";
    width:70px;
    height:4px;
    background:#ec4899;
    position:absolute;
    left:50%;
    bottom:-12px;
    transform:translateX(-50%);
    border-radius:4px;
}

.about-grid
{
    display:grid;
    grid-template-columns:380px 1fr;
    gap:80px;

    align-items:center;
    justify-content:center;

    max-width:1000px;
    margin:auto;
}

.about-image
{
    display:flex;
    justify-content:center;
}

.about-image img
{
    width:100%;
    max-width:360px;

    border-radius:18px;

    border:3px solid rgba(236,72,153,0.25);

    box-shadow:
    0 20px 50px rgba(0,0,0,0.4),
    0 0 25px rgba(236,72,153,0.15);
}

.about-image
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.about-content
{
    display:flex;
    flex-direction:column;
    justify-content:center;

    max-width:600px;
}

.about-cards{
margin-top:25px;
display:flex;
flex-direction:column;
gap:18px;
max-width:520px;
}

.about-card
{
    background:#1e293b;
    padding:22px;
    border-radius:14px;
    border:1px solid rgba(236,72,153,0.25);
    transition:.3s;
}

.about-card:hover
{
    transform:translateY(-8px);
    border-color:#ec4899;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.4),
    0 0 15px rgba(236,72,153,0.2);
}

.about-card h3
{
    margin-bottom:6px;
}

.about-content p
{
    color:#cbd5f5;
    margin-bottom:18px;
    font-size:17px;
    line-height:1.7;
}

#experience
{
    background:#111827;
}

.container
{
    max-width:1100px;
    margin:auto;
}

.grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
}

.timeline-item
{
    position:relative;

    padding-left:30px;
    margin-bottom:35px;

    border-left:2px solid rgba(236,72,153,0.4);
}

.timeline-dot
{
    position:absolute;

    left:-8px;
    top:5px;

    width:16px;
    height:16px;

    background:#ec4899;

    border-radius:50%;

    box-shadow:
    0 0 10px rgba(236,72,153,0.8);
}

.timeline-content
{
    background:#1e293b;

    padding:22px;

    border-radius:14px;

    border:1px solid rgba(236,72,153,0.25);

    transition:.35s;
}

.timeline-content:hover
{
    transform:translateY(-6px);

    border-color:#ec4899;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.45),
    0 0 15px rgba(236,72,153,0.25);
}

.timeline-content h4
{
    font-size:20px;
    margin-bottom:6px;
}

.timeline-content p, .timeline-content ul
{
    color:#cbd5f5;
}

.timeline-header .icon
{
    width:60px;
    height:60px;

    border-radius:14px;

    background:#ec4899;

    border:1px solid rgba(236,72,153,0.35);

    display:flex;
    align-items:center;
    justify-content:center;

    transition:.3s;
}

.timeline-header .icon img
{
    width:60%;
    height:60%;
    object-fit:contain;
}

.timeline-header .icon:hover
{
    border-color:#ec4899;
    transform:translateY(-3px);
}

.timeline-content ul
{
    margin-top:10px;
    padding-left:18px;
}

.timeline-content li
{
    margin-bottom:6px;
    color:#cbd5f5;
}

#skills
{
    text-align:center;
}

.skills-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:40px;
}

.skill-card
{
    background:#1e293b;
    padding:35px 25px;
    border-radius:16px;
    border:1px solid rgba(236,72,153,0.2);
    transition:.35s;
    position:relative;
    overflow:hidden;
}

.skill-card:hover
{
    transform:translateY(-10px);
    border-color:#ec4899;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.4),
    0 0 15px rgba(236,72,153,0.3);
}

.skill-card i
{
    font-size:40px;
    color:#ec4899;
    margin-bottom:15px;
    display:block;
}

.skill-card h3
{
    margin-bottom:20px;
    font-size:20px;
}

.skill-tags
{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
}

.skill-tags span
{
    background:#0f172a;
    border:1px solid rgba(236,72,153,0.3);
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    color:#cbd5f5;
    transition:.3s;
}

.skill-tags span:hover
{
    background:#ec4899;
    color:white;
}

.projects-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.project-card
{
    background:#1e293b;
    padding:30px;
    border-radius:16px;
    border:1px solid rgba(236,72,153,0.2);
    transition:.3s;
}

.project-card:hover
{
    transform:translateY(-8px);
    border-color:#ec4899;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.4),
    0 0 15px rgba(236,72,153,0.2);
}

.project-card h3
{
    color:#ec4899;
    margin-bottom:10px;
}

.project-card p
{
    color:#cbd5f5;
    margin-bottom:15px;
}

.project-tech
{
    font-size:14px;
    color:#94a3b8;
}

#contact
{
    text-align:center;
}

footer
{
    background:#020617;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@media (max-width:900px)
{
    .about-grid
    {
        grid-template-columns:1fr;
        text-align:center;
        gap:40px;
    }

    .about-content
    {
        align-items:center;
    }

    .about-cards
    {
        align-items:center;
    }
}

@media(max-width:600px)
{
    nav ul
    {
        display:none;
    }

    #hero
    {
        padding:80px 20px;
    }
}

.fade-up
{
    opacity:0;
    transform:translateY(40px);
    transition:all .8s ease;
}

.fade-up.show
{
    opacity:1;
    transform:translateY(0);
}

@keyframes slideDown
{
    from
    {
        opacity:0;
        transform:translateY(-40px);
    }

    to
    {
        opacity:1;
        transform:translateY(0);
    }
}

.project-card img
{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:15px;
    transition:.4s;
}

.project-card:hover img
{
    transform:scale(1.05);
}

.project-tech
{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin:15px 0;
}

.project-tech span
{
    background:#0f172a;
    border:1px solid rgba(236,72,153,0.3);
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    color:#cbd5f5;
}

.project-links
{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.project-links a
{
    text-decoration:none;
    font-size:14px;
    padding:8px 16px;
    border-radius:20px;
    background:#ec4899;
    color:white;
    transition:.3s;
}

.project-links a:hover
{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(236,72,153,0.4);
}

.contact-form
{
    max-width:600px;
    margin:40px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input, .contact-form textarea
{
    padding:12px;
    border-radius:10px;
    border:1px solid rgba(236,72,153,0.3);
    background:#0f172a;
    color:white;
    font-size:15px;
}

.contact-form input:focus, .contact-form textarea:focus
{
    outline:none;
    border-color:#ec4899;
}

.contact-form button
{
    padding:12px;
    border:none;
    border-radius:25px;
    background:#ec4899;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover
{
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(236,72,153,0.3);
}

.contact-intro
{
    max-width:600px;
    margin:20px auto 40px auto;
    text-align:center;
    color:#cbd5f5;
    font-size:17px;
    line-height:1.7;
}

.contact-icons a
{
    transition:all .3s ease;
}

.contact-icons a:hover
{
    background:#ec4899;
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 8px 20px rgba(236,72,153,0.3);
}

.contact-form-container
{
    max-width:600px;
    margin:60px auto 0 auto;
    text-align:center;
}

.contact-form-container h3
{
    margin-bottom:20px;
    font-size:24px;
    color:#fff;
}

.contact-form input:focus, .contact-form textarea:focus
{
    outline:none;
    border-color:#ec4899;
    box-shadow:0 0 10px rgba(236,72,153,0.3);
}

.contact-form button
{
    letter-spacing:.5px;
}